bin/
obj/
INFT3050 project/.vs/INFT3050 project/FileContentIndex/021a37ce-02b9-478b-80d9-8151b29ac56a.vsidx
INFT3050 project/.vs/INFT3050 project/FileContentIndex/3eb44191-dd5d-408f-84ec-e21f2a66da02.vsidx
INFT3050 project/.vs/INFT3050 project/FileContentIndex/3eb44191-dd5d-408f-84ec-e21f2a66da02.vsidx
INFT3050 project/.vs/INFT3050 project/FileContentIndex/4d422ad4-5920-48ed-87ed-240cae19131f.vsidx
INFT3050 project/.vs/INFT3050 project/FileContentIndex/592666a6-078b-489c-aea0-73d4c5536233.vsidx
INFT3050 project/.vs/INFT3050 project/FileContentIndex/7e6ac92e-c9e9-4d51-9dbb-db8e3ae7a5d6.vsidx
INFT3050 project/.vs/INFT3050 project/config/applicationhost.config
*.vsidx
*.vsidx
*.vsidx
INFT3050 project/.vs/INFT3050 project/v17/.futdcache.v2
*.v2
INFT3050 project/.vs/ProjectEvaluation/inft3050 project.metadata.v7.bin
