@model INFT3050_project.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>


<div>
    <form asp-controller="Login" asp-action="LoginPage" method="post">
        <div>
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="HashPW">Password</label>
            <input asp-for="HashPW" type="password" />
            <span asp-validation-for="HashPW"></span>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>  
</div>



<div>
    <a href="@Url.Action("LoginRecovery")" class="btn btn-primary">forgot password</a>
    <a asp-controller="Login" asp-action="LoginRecovery">test</a>
    <a href="@Url.Action("CreateAccountPage", "Login")" class="btn btn-primary">create an account</a>
</div>

<div>
   
</div>