@model INFT3050_project.Models.User

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <form asp-controller="Login" asp-action="CheckLogin" method="post">
        <input type="text" value="username" name="username" asp-for="@Model.UserName" />
        <input type="text" value="password" name="password" asp-for="@Model.HashedPW" />
        <input type="submit" value="Login" />
    </form>
   
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
