@*
    page for the user accoun.
*@
@{
}
<div class="back">
    <h2>Your Account</h2>
    <div>
        <form asp-controller="Account" asp-action="GoEdit" method="get">
           <button type="submit"> Edit Account</button>
        </form>
    </div>

    <div>
        <form asp-controller="Account" asp-action="LogOut" method="get">
            <button type="submit"> LogOut</button>
        </form>
    </div>
</div>
