@*
    
*@
@{
}
<div class="back">
   @*  // button for editing your account or login out *@
    <h2>User Account</h2>
    <div>
        <form asp-controller="Account" asp-action="UserGoEdit" method="get">
           <button type="submit"> Edit Account</button>
        </form>
    </div>

    <div>
        <form asp-controller="Account" asp-action="LogOut" method="get">
            <button type="submit"> LogOut</button>
        </form>
    </div>
</div>
