
@using INFT3050_project.ViewModels
@model CartViewModel

<h1>Welcome, @Model.User.Name</h1>

<h2>Your Shopping Cart</h2>

<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                
				<td></td>*
                <td></td>
                
            </tr>
        }
    </tbody>
</table>


@if (Model.Products.Count > 0)
{
    <button asp-page-handler="Checkout">Checkout</button>
}
