@using INFT3050_project.ViewModels
@model CartViewModel
<div class="back"></div>
    <h1>Cart</h1>

    //
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
       
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Name</td>
                        so here it will display multipe stocktakes per 
                       @*  bug here but the problem is how the stocktake is stored so not sure how to fixed will just leave for now *@
                   
                </tr>
                }
                @foreach (var stocktake in Model.Stocktakes)
                {


                <td>Price: $@stocktake.Price</td>


                }

        </tbody>
    </table>

    @if (Model.Products.Count > 0)
    {
        <form asp-controller="Cart" asp-action="Checkout" method="get">
            <button type="submit"> Checkout</button>
        </form>
    }
</div>